.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/BG\ Image.png');
    min-height: 100vh;
    padding: 30px;
    padding-bottom: 0;
 
}


.main-one {

    @media (max-width: 768px) {
       
      
   
    }

    .main-title {
        color: white;
        margin-bottom: 10px;
        font-size: 25px;
        width: 40%;

    }

    .main-text {
        color: white;
        margin-bottom: 30px;
    width: 60%;
    }

    .main-btn {
        width: 150px;
        min-height: 40px;
        border-radius: 20px;
        border: none;
        transition: 1s background-color, 1s color;
        position: relative;
        z-index: 1;


       &:hover {
        background-color: rgba(255, 174, 0, 0.774);
        color: white;
       }
    }

    
    
}

.main-img 

{
    @media (max-width: 992px) {
        display: none   ;
        
    }

display: flex;
gap: 5px;

.main-img-one{
    position: relative;
    top: -30px;
}


.main-img-two {
    position: relative;
    top: 50px;
    

}

}

.main-img-wave {
  
    position: absolute;
    width: 100%;
    bottom: -7px;

}


.day-today {
display: flex;
flex-direction: column;
align-items: center;


}
.day {
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
}

.time {
    color: white;
    font-size: 15px;

}

.footer-clock {
position: fixed;
bottom: 0;
left: 0;
background-color: black;
color: white;
padding: 15px;
border-radius:  0 70% 0 0;
font-size: 20px;
z-index: 3;
transition: 1s color, 1s background-color;


    
}

.footer-clock:hover {
    color: black;
    background-color: goldenrod;;
}

.footer-clock-open 
{

    position: fixed;
    bottom: -50%;
left: 0;
   height: 100px;
   width: 200px;
background-color: black;
border-radius: 0;
font-size: 40px;
padding-top: 30px;
padding-right: 5px;







}

.show {

   bottom: 0 !important;
   left: 0 !important;
   
}